.h_title
	text-align center
	color #3385ff
	font-size 28px
	margin 20px
	font-weight 600
.label
	font-size 20px
	line-height 25px
	color #000

.value
	font-size 18px
	line-height 25px 
	color #999

.music
	position absolute
	right 20px
	bottom 100px